@import "tailwindcss";
html {
  scroll-behavior: smooth!important;
}

/* ===== Custom Scrollbar ===== */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #020617; /* slate-950 */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #38bdf8,   /* sky-400 */
    #22d3ee    /* cyan-400 */
  );
  border-radius: 999px;
  border: 2px solid #020617; /* gap effect */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    #7dd3fc,
    #67e8f9
  );
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #38bdf8 #020617;
}
